{
//  "presets": ["es2015"],
  "plugins": ["fast-async", "transform-class-properties"],
//  "plugins": ["syntax-async-functions","transform-regenerator"]
//  "plugins": ["transform-async-to-generator"]
  "ignore": [
    "./node_modules/**/*.js"
  ]
}