<div id="{{io}}" class="Page">
    <div id="{{io}}_rodinas" class="rodinas">
        {{#rodinasViews}}
            <span class="delimiter"> > </span>
            <span class="Zemla rodina" id="{{io}}">{{model.name}}</span>
        {{/rodinasViews}}
    </div>

    <div id="{{io}}_header">

    </div>
    <div id="{{io}}_body">
        {{#model.kopa}}
            <div>KopaView</div>
            {{>KopaView}}
        {{/model.kopa}}
        {{^model.kopa}}
            {{#rodinaView}}
                <div>ZemlaAsListView</div>
                {{>ZemlaAsListView}}
            {{/rodinaView}}
        {{/model.kopa}}

    </div>
</div>