<div id="{{io}}" class="Page">
    <div id="{{io}}_doms" class="doms">
        {{#domsViews}}
            <span class="delimiter"> > </span>
            <span class="Zemla dom" id="{{io}}">{{model.name}}</span>
        {{/domsViews}}
    </div>

    <div id="{{io}}_header">

    </div>
    <div id="{{io}}_body">
        {{#model.kopa}}
            <div>KopaView</div>
            {{>KopaView}}
        {{/model.kopa}}
        {{^model.kopa}}
            {{#domView}}
                <div>ZemlaAsListView</div>
                {{>ZemlaAsListView}}
            {{/domView}}
        {{/model.kopa}}

    </div>
</div>