<div id="{{io}}" class="Zemla">
    <div id="{{io}}_name" class="header">{{model.name}}</div>

    <div id="{{io}}_kopas">
        {{#kopasViews}}
            {{> KopaAsListItemView }}
        {{/kopasViews}}
    </div>
</div>